<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<!-- <test name="Web signup test cases">
		<classes>
			<class name="com.CallHippo.web.authentication.SignupTest" />
		</classes>
	</test>

	<test name="Web login test cases">
		<classes>
			<class name="com.CallHippo.web.authentication.LoginTest" />
		</classes>
	</test>

	<test name="Web forgot password test cases">
		<classes>
			<class
				name="com.CallHippo.web.authentication.ForgotPasswordTest" />
		</classes>
	</test>

	<test name="Web magic link test cases">
		<classes>
			<class name="com.CallHippo.web.authentication.MagicLinkTest" />
		</classes>
	</test>

	<test name="Dialer login test cases">
		<classes>
			<class
				name="com.CallHippo.Dialer.authentication.DialerLoginTest" />
		</classes>
	</test>

	<test name="Dialer forgot password test cases">
		<classes>
			<class
				name="com.CallHippo.Dialer.authentication.DialerForgotPasswordTest" />
		</classes>
	</test>

	<test name="Add Credit">
		<classes>
			<class name="com.CallHippo.credit.AddCreditTest" />
		</classes>
	</test>

	<test name="Recharge Twice a day">
		<classes>
			<class name="com.CallHippo.credit.RechargeTwiceADayTest" />
		</classes>
	</test>

	<test name="Auto recharge by sms">
		<classes>
			<class name="com.CallHippo.credit.AutoRechargeBySMSTest" />
		</classes>
	</test>

	<test
		name="Add and Delete numeber with dynamic chargebee subscription">
		<classes>
			<class
				name="com.CallHippo.web.numberAndUserSubscription.AddNumberTest" />
		</classes>
	</test>

	<test name="Invite users">
		<classes>
			<class
				name="com.CallHippo.web.numberAndUserSubscription.InviteUserTest" />
		</classes>
	</test>

	<test name="Plan upgrade">
		<classes>
			<class
				name="com.CallHippo.web.numberAndUserSubscription.PlanUpgradeTest" />
		</classes>
	</test>

	<test name="Auto recharge by calling">
		<classes>
			<class name="com.CallHippo.credit.AutoRechargeByCallingTest" />
		</classes>
	</test> -->

	<test name="Normal Calling Test Cases">
		<classes>
			<class name="com.CallHippo.Dialer.Calling.NormalCallingTest" />
		</classes>
	</test>

	<test name="Team Calling Test Cases">
		<classes>
			<class name="com.CallHippo.Dialer.Calling.TeamCallingTest" />
		</classes>
	</test>

	<test name="Call Queue Calling Test Cases">
		<classes>
			<class name="com.CallHippo.Dialer.Calling.CallQueueCallingTest" />
		</classes>
	</test>

	<test name="Forward To Device Calling Test Cases">
		<classes>
			<class name="com.CallHippo.Dialer.Calling.ForwordToDeviceTest" />
		</classes>
	</test>

	<test name="Call Reminder Test">
		<classes>
			<class name="com.CallHippo.web.callPlanner.CallReminderTest" />
		</classes>
	</test>

	<test name="Internal Team Calling Test">
		<classes>
			<class
				name="com.CallHippo.Dialer.Calling.InternalTeamCallingTest" />
		</classes>
	</test>

	<test name="After Call Work Test">
		<classes>
			<class name="com.CallHippo.web.user.settings.AfterCallWorkTest" />
		</classes>
	</test>

	<!-- <test name="Call Blocking Test Cases">
		<classes>
			<class name="com.CallHippo.web.settings.CallBlockingTest" />
		</classes>
	</test> -->

	<test name="Outgoing Call Price limit Test Cases">
		<classes>
			<class name="com.CallHippo.web.settings.PriceLimitTest" />
		</classes>
	</test>

</suite>